{% extends "layout.html" %}

{% block pageTitle %}
	Defra digital services portfolio | About
{% endblock %}

{% block content %}

<main id="content" role="main">

	<p style="margin-top:30px;"><a href="/">Back to all the things we're doing</a></p>

		<section class="column-first">


		<h2 class="heading-large">About the digital portfolio</h2>

		<p>The digital portfolio belongs to the Department for Environment, Food &amp; Rural Affairs (DEFRA).

		<h3 class="heading-medium">How to get something added to the portfolio</h3>
		<ol class="list list-number">
			<li>Contact <a href="mailto:liam.mcmurray@environment-agency.gov.uk">Liam McMurray</a></li>
		</ol>
	</div>

</main>

{% endblock %}
